<h2>Listing Stalk</h2>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Handle</th>
      <th>Stalked At</th>
    </tr>
  </thead>
  <tbody>
<%= for stalk <- @stalks do %>
    <tr>
      <td><%=  stalk.target.first_name %> <%=  stalk.target.last_name %></td>
      <td>@<%=  stalk.target.handle %></td>
      <td>Stalked since: <%=  stalk.inserted_at %></td>
    </tr>
<% end %>
  </tbody>
</table>
