<h2>Show Meow content</h2>

<ul>

  <li>
    <strong>Content:</strong>
    <%= @meow_content.content %>
  </li>

</ul>

<span><%= link "Edit", to: meow_content_path(@conn, :edit, @meow_content) %></span>
<span><%= link "Back", to: meow_content_path(@conn, :index) %></span>
