<h2>Show Meow</h2>

<ul>

  <li>
    <strong>User:</strong>
    <%= @meow.author_id %>
  </li>

  <li>
    <strong>Content:</strong>
    <%= @meow.content %>
  </li>

</ul>

<span><%= link "Edit", to: meow_path(@conn, :edit, @meow) %></span>
<span><%= link "Back", to: meow_path(@conn, :index) %></span>
